article {
    width: 46rem;
}

.tasksHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.tasksHeader .tasksActive {
    color: var(--blue);
    font-weight: bold;
}

.tasksHeader .tasksDone {
    color: var(--purple);
    font-weight: bold;
}

.tasksHeader span {
    background-color: var(--gray-400);
    border-radius: 8px;
    margin-left: 0.5rem;
    box-sizing: initial;
    padding: 0.1rem 0.5rem;
    color: var(--gray-200);
    font-size: 0.75rem;
}

.tasksList .nonTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px var(--gray-500);
    border-radius: 8px;
    margin-top: 2rem;
}

.tasksList .nonTasks img {
    height: 56px;
    width: 56px;
    margin-top: 4rem;
}

.tasksList .nonTasks h1 {
    color: var(--gray-300);
    font-size: 1rem;
    margin-top: 1rem;
}

.tasksList .nonTasks p {
    color: var(--gray-300);
    font-size: 1rem;
}

.tasksList .onTasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-500);
    height: 4.5rem;
    color: var(--gray-200);
    margin-bottom: 0.75rem;
    padding: 1.5rem;
    border-radius: 8px;
}

.tasksList .onTasks div {
    display: flex;
    align-items: center;
}

.tasksList .onTasks .checkboxTasks {
    width: 1.25rem;
    height: 1.25rem;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px var(--blue);
    position: relative;

    transition: all 0.2s;
}

.tasksList .onTasks .checkboxTasks:checked {
    background-color: var(--purple-dark);
    border: solid 2px var(--purple-dark);
}

.tasksList .onTasks .checkboxTasks:checked::after {
    content: "✔";
    color: var(--gray-200);
    font-size: 0.75rem;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}

.tasksList .onTasks label {
    margin-left: 1rem;
    font-size: 0.875rem;
}

/* Quando checkbox é preenchido, o texto no label é modificado */
.tasksList .onTasks .checkboxTasks:checked+label {
    text-decoration: line-through;
    opacity: 0.5;

    transition: all 0.3s ease;
}

.tasksList .onTasks a {
    color: var(--gray-300);
    cursor: pointer;
}